<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nullpointer.polygame"
      android:versionCode="1"
      android:versionName="1.0">
   
   <uses-permission android:name="android.permission.WAKE_LOCK" />
   <uses-permission android:name="android.permission.INTERNET" />
     <application android:icon="@drawable/egg1" android:label="@string/app_name">
        <activity android:name=".SplashScreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".StartMenu" >
            <intentfilter>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intentfilter>
        </activity>
            <activity android:name=".GameActivity">
                <intentfilter>
                    <category android:name="android.intent.category.DEFAULT"></category>
                </intentfilter>
        </activity>
        <activity android:name="AboutView">
                <intentfilter>
                    <category android:name="android.intent.category.DEFAULT"></category>
                </intentfilter>
        </activity>
</application>

</manifest> 